@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 428px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 80px 20px;
}

.section-new-trends {
  padding: 80px 0 0 20px;
}

.border-l-r {
  border-left: 0.5px solid #cfcfcf;
  border-right: 0.5px solid #cfcfcf;
}

.container-sm {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #cfcfcf;
  border-top: none;
  height: 48px;
  padding: 17px 20px;
}
.container-sm h4 {
  width: 100%;
  margin-left: 13.87px;
}

.container-xl * {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #000;
  letter-spacing: 0.39px;
}
.container-xl * a:hover {
  text-decoration: underline;
}

.nav-section-pad {
  padding: 31px 20px;
}

.side-categories-font {
  font-size: 13px;
  letter-spacing: 1.04px;
  color: #000;
  font-family: inherit;
  font-weight: 500;
  line-height: 18px;
}

.side-shortcuts-font {
  font-size: 13px;
  letter-spacing: 0.39px;
  color: #838384;
  font-family: inherit;
  font-weight: 500;
}

.side-account-font,
.sub-menu-container-xl > * {
  font-size: 13px;
  letter-spacing: 0.39px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.btn-font-lg {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.84px;
  text-align: center;
}

.btn-font-md {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.84px;
  text-align: center;
}

.btn-underline {
  border: none;
  outline: none;
  background: transparent;
  text-decoration: underline;
}

.title-hero-lg {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 66px;
  letter-spacing: 3px;
}

.title-hero-sm {
  color: #fff;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 1.8px;
}

.title-section {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #000;
  letter-spacing: 1.56px;
  line-height: 34px;
}

.title-section-container {
  width: 287px;
  height: 68px;
  text-align: left;
  width: 100%;
}

.new-trends-products-title {
  font-size: 15px;
  font-family: inherit;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.9px;
  line-height: 20px;
  text-align: center;
}

svg {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.favourites svg {
  fill: none;
  stroke-width: 1;
  stroke: #000;
}

.heart:hover path {
  stroke: #fa6363;
  fill: #fa6363;
}

#logo {
  fill: #000;
}

.favourites path,
#heart {
  fill: #fff;
  stroke: #000;
}

.header {
  position: fixed;
  top: 0;
  left: auto;
  width: 100%;
  z-index: 2000;
}

.free-shipping {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 29.5px;
}
.free-shipping p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.66px;
}
.free-shipping .shippment-close {
  fill: #fff;
  width: 12px;
  height: 12px;
  margin-right: 20.5px;
}

.menu-icons {
  height: 53.5px;
  display: flex;
  align-items: center;
  background-color: cyan;
  background-color: #fff;
  padding: 18px 20.5px;
  border: 0.5px solid #cfcfcf;
}
.menu-icons .toggle-heart-btn {
  display: flex;
  position: relative;
}
.menu-icons .toggle-heart-btn .heart-container {
  position: relative;
}
.menu-icons .toggle-heart-btn .heart-container .heart-num {
  position: absolute;
  right: -5px;
  bottom: 0;
  font-size: 11px;
  padding: 1px 5px;
  border-radius: 50%;
  background-color: #fa6363;
  color: #fff;
  cursor: pointer;
}
.menu-icons #logo {
  margin: 0 66.31px;
}
.menu-icons .search-shop-container {
  display: flex;
}
.menu-icons .search-shop-container #search-btn {
  margin-right: 14.49px;
}
.menu-icons .search-shop-container .shop {
  position: relative;
}
.menu-icons .search-shop-container .shop-num {
  position: absolute;
  right: -10px;
  bottom: 0;
  font-size: 11px;
  padding: 1px 5px;
  border-radius: 50%;
  background-color: #fa6363;
  color: #fff;
  cursor: pointer;
}
.menu-icons .toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-icons .toggle-container .open-btn,
.menu-icons .toggle-container .close-btn {
  margin-right: 21.69px;
}
.menu-icons .toggle-container .close-btn {
  display: none;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53.5px;
  background-color: #fff;
  border: 0.5px solid #cfcfcf;
  border-top: none;
  opacity: 0;
}
.search-form .search-form-input {
  outline: none;
  width: 100%;
  height: 46.3px;
  padding: 10px;
  padding-left: 37px;
  font-size: 11px;
  letter-spacing: 0.66px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000;
  margin: 20px;
  background-color: #f5f5f5;
  border: none;
}
.search-form .search-btn-container svg {
  position: absolute;
  top: 34%;
  left: 8%;
  width: 15px;
  height: 15px;
}
.search-form #search-btn .a {
  stroke-width: 2px;
}
.search-form.active {
  opacity: 1;
  transition: 0.3s ease-out;
}

.navbar {
  position: absolute;
  transform: translateX(-100%);
  top: 60%;
  width: 100%;
  /**  change to 100% **/
  height: 844px;
  border: 0.5px solid #cfcfcf;
  background-color: #fff;
  transition: 0.2s ease-in-out;
  opacity: 0;
}
.navbar.active {
  transform: translateX(0);
  opacity: 1;
}
.navbar .gender {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #cfcfcf;
  border-top: none;
  height: 48px;
}
.navbar .gender-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  height: 18px;
  padding: 0 20px;
  overflow: hidden;
  overflow-x: scroll;
  background-color: #fff;
  padding-right: 0;
}
.navbar .gender-container a {
  font-size: 13px;
  letter-spacing: 0.78px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-right: 72px;
  line-height: 18px;
}
.navbar .gender-container a:last-child {
  margin-right: 0;
}
.navbar .gender-container a:nth-child(3) {
  margin-right: 66px;
}
.navbar .gender-container a:active, .navbar .gender-container a:focus {
  text-decoration: underline;
}
.navbar .gender div {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-x: scroll;
  overflow-y: scroll;
}
.navbar .gender div::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}
.navbar .categories {
  border-bottom: 0.5px solid #cfcfcf;
}
.navbar .categories .categories-container {
  flex-direction: column;
}
.navbar .categories .categories-container > *:not(:last-child) {
  margin-bottom: 20px;
}
.navbar .categories .categories-container .clothes {
  display: flex;
  align-items: center;
}
.navbar .categories .categories-container .clothes a {
  width: 100%;
}
.navbar .categories .categories-container .shoes {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar .categories .categories-container .shoes a {
  font-weight: bold;
}
.navbar .categories .categories-container .accessories {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar .categories .categories-container .beauty {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar .categories .categories-container .brands {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar .shortcut {
  border-bottom: 0.5px solid #cfcfcf;
}
.navbar .shortcut-links a li {
  margin-bottom: 30px;
}
.navbar .shortcut .shortcut-last-item {
  margin-bottom: 0;
}
.navbar .account-details-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  text-align: left;
}
.navbar .account-details-container > * svg {
  width: 12px;
  height: 12px;
}
.navbar .account-details-container > * a {
  width: 100%;
  margin-left: 20px;
}

.sub-menu-container {
  position: absolute;
  top: 60%;
  width: 100%;
  transform: translateX(-100%);
  background-color: #fff;
  transition: 0.2s ease-in-out;
  opacity: 0;
  border: 0.5px solid #cfcfcf;
}
.sub-menu-container.active {
  transform: translateX(0);
  opacity: 1;
}
.sub-menu-container .sub-menu-clothes-category-details {
  padding: 31px 20px;
}
.sub-menu-container .sub-menu-clothes-category-details ul * {
  margin-bottom: 40px;
}

.hero {
  margin-top: 19.5%;
  width: 100%;
  z-index: -100;
}
.hero-image-one:nth-of-type(1) {
  position: relative;
}
.hero-image-one-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-image-one-details .btn-hero-lg {
  position: absolute;
  bottom: 57px;
  width: 229px;
  height: 45px;
  border: none;
  outline: none;
  background-color: #fff;
  transition: 0.2s ease;
}
.hero-image-one-details .btn-hero-lg:active {
  transform: scale(0.98);
  opacity: 0.9;
}
.hero .hero-image-two {
  position: relative;
}
.hero .hero-image-two .align-details {
  position: absolute;
  bottom: 0;
  text-align: left;
  width: 214px;
  height: 117px;
  margin: 31px 20px;
}
.hero .hero-image-two .align-details button {
  margin-top: 20px;
}
.hero .hero-image-three {
  position: relative;
}
.hero .hero-image-three .align-details {
  position: absolute;
  bottom: 0;
  text-align: left;
  width: 214px;
  height: 117px;
  margin: 31px 20px;
}
.hero .hero-image-three .align-details button {
  margin-top: 20px;
}
.hero .hero-image-four {
  position: relative;
  height: 363px;
  overflow-y: hidden;
}
.hero .hero-image-four .align-details {
  position: absolute;
  bottom: 0;
  text-align: left;
  width: 214px;
  height: 117px;
  margin: 31px 20px;
}
.hero .hero-image-four .align-details button {
  margin-top: 20px;
}

.new-trends-products-container {
  display: flex;
  margin-top: 33px;
  overflow-x: hidden;
  overflow: scroll;
}
.new-trends-products-container .new-trends-products-details {
  display: flex;
  flex-direction: column;
}
.new-trends-products-container .new-trends-products-details img {
  width: 113.55px;
  height: 113.55px;
}
.new-trends-products-container .new-trends-products-details .new-trends-products-title {
  margin-top: 18.45px;
  text-align: center;
  min-width: 19ch;
}

.new-arrivals-product-container {
  display: flex;
  flex-direction: column;
}
.new-arrivals-product-container .new-arrivals-product-image {
  width: 193px;
  height: 193px;
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
  background-color: rgba(199, 196, 197, 0.916);
}
.new-arrivals-product-container .new-arrivals-product-image img {
  transform: scale(1.28);
  position: absolute;
  top: -11%;
}
.new-arrivals-product-container .new-arrivals-product-image .new {
  margin: 10px;
  position: absolute;
  border-radius: 2px;
  width: 38px;
  height: 18px;
  text-align: center;
  background: #000;
}
.new-arrivals-product-container .new-arrivals-product-image .new h6 {
  margin: 2px 7px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.33px;
  line-height: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.new-arrivals-product-container .new-arrivals-product-image .heart-circle {
  position: absolute;
  left: 76%;
  top: 3%;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
}
.new-arrivals-product-container .new-arrivals-product-image .heart-circle .div {
  position: relative;
}
.new-arrivals-product-container .new-arrivals-product-image .heart-circle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, 80%);
}
.new-arrivals-product-container .new-arrivals-product-details {
  display: flex;
  flex-direction: column;
  width: 194px;
}
.new-arrivals-product-container .new-arrivals-product-details .new-arrivals-product-name {
  height: 38px;
  margin-bottom: 5px;
}
.new-arrivals-product-container .new-arrivals-product-details .new-arrivals-product-name span {
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: 0.42px;
  line-height: 19px;
}
.new-arrivals-product-container .new-arrivals-product-details .new-arrivals-product-price {
  display: flex;
  width: 129px;
  margin-left: 0;
}
.new-arrivals-product-container .new-arrivals-product-details .new-arrivals-product-price span {
  width: 100%;
}
.new-arrivals-product-container .new-arrivals-product-details .new-arrivals-product-price .price {
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  color: #000;
}
.new-arrivals-product-container .new-arrivals-product-details .new-arrivals-product-price .sales {
  font-size: 14px;
  letter-spacing: 0.42px;
  text-decoration: line-through;
  color: #9b9b9b;
}
.new-arrivals-product-container .new-arrivals-product-details .new-arrivals-product-description {
  margin-left: 0;
}
.new-arrivals-product-container .new-arrivals-product-details .new-arrivals-product-description .description {
  font-size: 10px;
  letter-spacing: 0.3px;
  line-height: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */